<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SqlReportConstructor.Properties.Settings.LinegroConnectionString"
            connectionString="Data Source=FORGE-JITA\SQLEXPRESS2012;Initial Catalog=Linegro;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>